.code {
    
    font-family: monospace;
    background-color: beige;   
}
.header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
table, td {
    border: 1px solid rgb(158, 18, 72);
    
  }

table {
    border: 2px solid rgb(196, 42, 157);
    width: 650px;
    margin: 0 auto;


    
}
td{
    background-color: cornsilk;
    text-align: center;
}
th{
    text-align: center;
    background-color: burlywood;

}
*{
  background-color: blanchedalmond;  
}

footer{
    text-align: center;
    font-weight: small ;
}
#credit{
    font-family: monospace, Helvetica, sans-serif;
}
